:root {
  --main-bg-color: #f3f0d7;
  --brown: #5e454b;
  --creamy: #f7d59c;
  --creamy_hover: #f8e4c1;
  --green-blue: #e9f5ea;
}
body {
  background-color: var(--main-bg-color);
}
.navbar {
  background-color: var(--brown);
  color: var(--creamy);
}
.navbar a {
  color: var(--creamy);
}
.navbar a:hover {
  color: var(--creamy_hover);
  transform: scale(1.2);
}
.search {
  margin-top: 80px;
}
.search .form-control,
.search .list-group {
  color: var(--brown);
}
.list-group-item {
  cursor: pointer;
}
.list-group-item img {
  width: 60px;
}
.search .card-header {
  background-color: transparent;
  border-bottom: transparent;
}
.search .card {
  margin-top: 1rem;
}
.search img {
  height: auto;
}
.search .card {
  background-color: var(--green-blue);
}
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
